body {
    font-family: Arial, sans-serif;
    background-color: #8a8ae4;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #282c34;
    color: rgb(255, 255, 255);
    padding: 3rem 1rem;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
}

/* .section {
    padding: 20px 0;
}
.section h2 {
    text-align: center;
    margin-bottom: 20px;
}
.section ul {
    list-style-type: none;
    padding: 0;
}
.section ul li {
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
} */

.about-me {
    padding-right: 1rem;
    border-right: 1px solid #eeeef3;
}
.Experiencia{
    padding-left: 2rem;
}
#Habilidades{
    padding-left: 2rem;
}

.carousel-item {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

#contact-form {
    margin-bottom: 1rem;
}
#contact-details{
    display: none;
}
.Experiencia li {
    padding-left: 6rem;
    padding-right: 5rem;
}

#skills-list {
    list-style-type: none;
    padding: 0;
    position: relative;
}

#skills-list li {
    margin: 10px 0;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
}

#skills-list li:hover {
    color: #007bff;
}

#description-box {
    position: absolute;
    /* margin-top: 20px; */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 1rem;
    display: none; /* Oculto por defecto */
    max-width: 250px;
    z-index: 10; /* Asegura de que esté encima de otros elementos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
/* Móviles */
@media (max-width: 768px) {
    .hero {
        height: 100%; 
        padding: 40px 10px; /* Espaciado adicional para un mejor diseño */
    }
    #skills-list li {
        font-size: 1rem;
        margin: 5px 0;
    }
    #description-box {
        position: relative;
        max-width: 100%;
        margin-top: 10px;
        left: 0;
        top: 0;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1200px) {
    #skills-list li {
        font-size: 1.2rem;
    }

    #description-box {
        max-width: 250px;
    }
}

/* PCs */
@media (min-width: 1200px) {
    #skills-list li {
        font-size: 1.5rem;
    }

    #description-box {
        max-width: 300px;
    }
}